@font-face {
    font-family: "TT Lakes";
    font-style: normal;
    font-weight: 200;
    src: url("./Fonts/TTLakes-Medium.ttf")
}

@font-face {
    font-family: "TT Lakes-bold";
    font-style: bold;
    font-weight: 600;
    src: url("./Fonts/TTLakes-Bold.ttf")
}

.menu-active {
    display: block;
    position: absolute;
    width: 320px;
    height: 100vh;
    z-index: 2;
    background: #FFFFFF;
    box-shadow: 16px 0 52px #0E185033;
    overflow: scroll;
}

.menu-mobile__header {
    height: 78px;
    display: flex;
    padding: 19px 24px;
}

.menu-mobile__header button:nth-child(1) {
    margin: 6px 17px 0 0;
}

.menu-mobile__header button:nth-child(3) {
    margin: 6px 0 0 78px;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    overflow: hidden;
    display: flex;
    align-items: center;
    height: 32px;
    padding-left: 20px;
    margin-bottom: 28px;
    font-size: 16px;
    font-family: "TT Lakes";
}

.item-active {
    border-width: 0 0 0 4px;
    border-color: #41F6D7;
    border-style: solid;
    color: #7E7E82;
}

.menu-mobile__footer {
    margin: 240px 24px 32px 24px;
}

.contacts div {
    display: flex;
}

.contacts .button__icon {
    margin-right: 16px;
}

.contacts__email {
    margin: 16px 0 12px 0;
    font-size: 16px;
    font-family: "TT Lakes";
}

.contacts__phone {
    margin: 0;
    font-size: 24px;
    font-family: "TT Lakes-bold";
}

.language {
    margin-top: 40px;
    font-family: "TT Lakes";
}

.language__item {
    font-size: 16px;
    border: none;
    background: none;
    font-family: "TT Lakes";
}

.ru {
    color: #7E7E82;
}