@font-face {
    font-family: "TT Lakes";
    font-style: normal;
    font-weight: 200;
    src: url("./Fonts/TTLakes-Medium.ttf")
}

@font-face {
    font-family: "TT Lakes-bold";
    font-style: bold;
    font-weight: 600;
    src: url("./Fonts/TTLakes-Bold.ttf")
}
  
body {
    font-family: "TT Lakes";
    background: #F8F8F8;
    width: 100%;
    padding: 0;
    margin: 0;
    color: #1B1C21;
}

.header__button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    border: none;
    background-color: #FF3E79;
}

.content {
    z-index: 1;
}

@media screen and (min-width: 320px) {

    .main .title,
    .header__for-tablet,
    .header__text,
    .header__contacts {
        display: none;
    }

    .main {
        display: flex;
        width: 100%;
        min-width: 320px;
        height: 88px;
        justify-content: space-evenly;
        align-items: center;
        background: #FFFFFF;
        border-width: 0 0 1px 0;
        border-color: #41F6D7;
        border-style: solid;
    }

    .header__line {
        height: 32px;
        width: 2px;
        background: #EAEAEA;
    }

    .header__services,
    .header__service {
        display: flex;
        align-items: center;
    }

    .header__service {
        margin: 0 8px;
    }

    .menu {
        margin-bottom: 6px;
    }

    .menu .title {
        font-family: "TT Lakes-bold";
        height: 40px;
        font-size: 28px;
        font-weight: bold;
        margin: 24px 16px 24px 0;
        padding-left: 16px;
        display: flex;
        align-items: center;
        border-width: 0 0 0 4px;
        border-color: #41F6D7;
        border-style: solid;
    }

    .menu div {
        display: flex;
        overflow: scroll;
        margin: 0 16px;
    }

    .menu__item {
        font-family: "TT Lakes";
        background: none;
        border: none;
        white-space: nowrap;
        color: #7E7E82;
        height: 40px;
        padding: 8px 16px;
        font-size: 16px;
    }

    .item_active {
        background: #FFFFFF;
        border: 2px solid #B8FFEC;
        border-radius: 6px;
    }

    .info__text div {
        height: 90px;
        overflow: hidden;
        margin: 0 16px;
        font-size: 14px;
        font-family: "TT Lakes";
    }

    .info__text div p {
        margin: 24px 0;
        font-family: "TT Lakes";
    }

    .info__expand {
        background: none;
        border: none;
        height: 24px;
        display: flex;
        align-items: center;
        margin: 16px;
        padding: 0;
    }

    .expand__text {
        margin-left: 8px;
        font-size: 16px;
        font-family: "TT Lakes";
    }

    .info__img {
        width: 100%;
    }

}

@media screen and (min-width: 768px) {

    .header__for-tablet {
        display: block;
    }

    .header__contacts {
        display: flex;
        justify-content: space-between;
        width: 164px;
        margin: 0 8px 0 210px;
    }

    .info {
        display: flex;
    }

    .info__text {
        width: 50%;
        font-family: "TT Lakes";
    }

    .info__text div {
        height: 160px;
        font-family: "TT Lakes";
    }

    .info__img {
        width: 50%;
        margin: 24px;
        border-radius: 5px;
    }

}

@media screen and (min-width: 1120px) {

    .main {
        justify-content: space-between;
        background: none;
        border: none;
    }

    .main .title {
        font-family: "TT Lakes-bold";
        display: block;
        height: 40px;
        font-size: 28px;
        font-weight: 900;
        margin: 24px 16px 24px 0;
        padding-left: 16px;
        display: flex;
        align-items: center;
        border-width: 0 0 0 4px;
        border-color: #41F6D7;
        border-style: solid;
    }

    .header__line,
    .button__menu,
    .header__contacts,
    .header__cps,
    .menu .title {
        display: none;
    }

    .header__service {
        margin: 0 16px;
        width: 173px;
        justify-content: space-between;
    }

    .header__text {
        display: block;
        font-size: 16px;
        font-family: "TT Lakes"; 
    }

    .menu div {
        overflow: inherit;
        flex-wrap: wrap;
        width: 100%;
    }

    .info__text div {
        height: fit-content;
        font-family: "TT Lakes";
    }

    .info__text div p {
        margin-bottom: 0;
    }

    .info__expand {
        margin-left: 16px;
        font-size: 16px;
    }

    .info__img {
        width: 50%;
    }

}